.profilePic {
    /* margin-top: 20px; */
    margin-left: 20px;
    border-radius: 20px;
    max-width: 200px;
}
.name{
    color: blanchedalmond;
    margin-left: 20px;
    margin-bottom: 30px;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.header {
    background-color: #282c34;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color:  #1DB954;
}
.followers {
    margin-left:20px
}
.column {
    flex-direction: column;
}