.header {
    margin-top: -35px;
    font-size: 18px;
    margin-left: 50px;
    align-self: flex-start;
}
.pic{
    width: 375px;
    height: 310px;
    position: fixed;
    top: 55px;
    left: 128px;
}
.column{
    display: flex;
    justify-content: left;
    align-items: center;
}
.row{
    flex-direction: row;
    display: flex;
}

.smallPic{
    width: 50px;
    height: 50px;
    border-radius: 20px;
}
.row1 {
    flex-direction: row;
    display: flex;
    height: 87vh;
    color:  #1DB954;
    background-color: #282c34;
    justify-content: space-around;
    align-items: center;
    overflow: scroll;
    /* background-color: yellowgreen; */
}
.timestamp{
    margin-top: 100px;
    height: 200px;
    margin-right: 500px;
    left: 300px;
    position: relative;
    background-color: #282c34;
    background-color: #282c34;
}
.timestampButton {
    height: 100px;
    background-color: #1DB954;
    color: #282c34;
    
}
.timestampButton:hover{
    background-color: black;
    color:#1DB954;
}
.searchBar {
    position: fixed;
    top: 400px;
    width: 377px;
    overflow: scroll;
    left:126px
}

.searchResults {
    display: flex;
    flex-direction: column;
    top: 440px;
    height: 325px;
    left: 125px;
    position: absolute;
    overflow: scroll;
}