
.AppLogo {
  height: 40vmin;
  pointer-events: none;
}

.AppName {
  background-color: #282c34;
  text-align: center;
  font-size: xx-large;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .AppLogo {
    animation: AppLogo-spin infinite 20s linear;
  }
}
.AppHeader {
  background-color: #282c34;
  min-height: 94.2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AppLink {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: #1DB954;
  border-radius: 1vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 10px;
}
.header {
  color: #1DB954;
  background-color: black;
}

@keyframes AppLogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}