.header {
    background-color: #282c34;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:  #1DB954
}

.tabs {
    background-color: black;
    color: #1DB954
}

.container {
    border: 12px;
    padding: 50px;
    align-content: center;
    background-color: #282c34;
    min-height: 94.2vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color:  #1DB954;
}

.table {
    background-color: #282c34;
    font-size: calc(10px + 2vmin);
    color:  #1DB954;
}
