.appName{
    font-size: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    /* background-color: #282c34; */
  }

  .App {
    text-align: center;
    background-color: #282c34;
  }